.main {
  display: flex;
  height: 100vh;
}
.content {
  margin-left: 150px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  padding: 35px 20px;
  background-color: #BDBDBD;
}

.navbar__title {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}

.navbar__btn {
  display: block;
  margin-bottom: 10px;
}